<!-- views/partials/navbar.handlebars -->
<div class="navbar">
    <a href="/">Home</a>   <!-- Link to the home page -->
    <a href="/about">About</a>   <!-- Link to the about page -->
    <a href="/projects">Projects</a>   <!-- Link to the projects page -->
    <a href="/contact">Contact</a>   <!-- Link to the contact page -->
</div>
